.alert {
  margin: 9px;
  padding: 16px;
}
.notification-btn {
  padding: 9px 0px 9px 17px;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  &:hover {
    color: #000 !important;
  }
  &:active {
    color: #000 !important;
  }
}
.badge {
  font-size: 14px;
  color: #000;
}
