<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="wrapper">
        <!-- Start -->
        <div class="custom-card" (click)="openNewPrescription()">
          <i class="fas fa-plus-circle add-new-btn"></i>
        </div>
        <div class="my-card"
          *ngFor="let item of prescriptionList  | filter : {prescriptionName:searchText,patientName:searchText, createdUser : searchText, age:searchText}; let i=index">
          <input type="checkbox" id="card-{{i}}" class="more" aria-hidden="true">
          <div class="content">
            <div class="front" style="background:#fff">
              <div class="inner">
                <div class="row data-card">
                  <div class="col-xs-12 col-sm-6">
                    <span class="card-details" data-toggle="tooltip" data-placement="top" title="Prescription Name">{{item.prescriptionName.length > 16 ?
                      (item.prescriptionName | slice:0:16)+'...' :(item.prescriptionName)}}</span>
                  </div>
                  <div class="col-sm-6 right-text"><span class="card-details" data-toggle="tooltip" data-placement="top"
                      title="Created User">{{item.createdUser}}</span></div>
                </div>
                <div class="row data-card">
                  <div class="col-sm-6"><span class="card-details" data-toggle="tooltip" data-placement="right"
                      title="Patient Name">{{item.patientName}}</span></div>
                  <div class="col-sm-6 right-text"><span class="card-details" data-toggle="tooltip"
                      data-placement="left" title="Patient Age">{{item.age}}</span></div>
                </div>
                <div class="row data-card prescription-btn-row">
                  <div class="col-sm-6" (click)="openPdf(item)" style="cursor: pointer"><span
                      class="btn btn-secondary btn-sm prescription-btn">Prescription.pdf</span></div>
                  <div class="col-sm-6 img-wrapper">
                    <img src="assets/img/protectShield.png" *ngIf="item.isPrivate" class="protect-img"
                      (click)="toggleAccessModal(item)">
                  </div>
                </div>
                <div class="row data-card card-action-row">
                  <div class="col-sm-6">
                    <label class="btn btn-primary btn-sm" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                      title="Edit this prescription" (click)="toggleEditPrescriptionModal(item)"
                      [hidden]="localData.type=='doctor'" style="padding: 5px;">
                      <i class="fas fa-pencil-alt" style="padding: 5px;font-size: 15px;"></i>
                    </label>
                    <label class="btn btn-danger btn-sm" aria-hidden="true" [hidden]="localData.type=='doctor'"
                      (click)="toggleDeleteModal(item)" style="padding: 5px;" data-toggle="tooltip" data-placement="top"
                      title="Delete this prescription">
                      <i class="fas fa-trash" style="padding: 5px;font-size: 15px;"></i>
                    </label>
                    <label class="btn btn-info btn-sm" aria-hidden="true" [hidden]="localData.type=='doctor'"
                      (click)="addToCart(item)" style="padding: 5px;" data-toggle="tooltip" data-placement="top"
                      title="Add to Cart" [hidden]="getPresence(item)">
                      <i class="fas fa-cart-plus" style="padding: 5px;font-size: 15px;"></i>
                    </label>
                  </div>
                  <div class="col-sm-6">
                    <label for="card-{{i}}" *ngIf="localData.type=='client' || !item.isPrivate"
                      class="btn btn-primary btn-sm" aria-hidden="true" style="padding: 8px;">
                      View Medicine</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="back" style="overflow-y: scroll;">
              <div class="inner">
                <label>
                  <div>
                    <label class="location" style="font-size: 15px;
                    margin-left: 10px;">Medicine List</label>
                    <label
                      style="float:right;font-size: 13px;display: inline-flex;line-height: 2.4;margin-bottom: 0px;">₹ /
                      month<label for="card-{{i}}" class="button return" aria-hidden="true"
                        style="margin-left:12px;padding:0px 15px">
                        <i class="fas fa-arrow-right"></i>
                      </label></label>
                    <!-- PrescriptionTable -->
                    <div class="table-responsive" style="width: 340px;
                    margin-left: 2%;">
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr style="font-size: 12px;">
                            <th scope="col">S.No</th>
                            <th scope="col">Medicine</th>
                            <th scope="col">Quantity</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let medicine of item.medicineList">
                            <th scope="row">
                              {{medicine.id}}
                            </th>
                            <td>
                              {{medicine.name}}
                            </td>
                            <td>
                              <span class="mr-2">{{medicine.quantity}} mg</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- PrescriptionTable -->
                  </div>
                </label>
                <!-- <label for="card-{{i}}" class="button return" aria-hidden="true">
                  <i class="fas fa-arrow-left"></i>
                </label> -->
              </div>
            </div>
          </div>
        </div>
        <!-- Over -->
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="newPrescriptionModal" tabindex="-1" role="dialog" aria-labelledby="newPrescriptionModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="newPrescriptionModal">Add New Prescription</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card shadow new-card">
          <div class="row">
            <div class="col">
              <h4 class="mb-2 modal-title">Prescription Details</h4>
            </div>
          </div>
          <div class="form-row">
            <div class="col-6">
              <input type="text" class="form-control" placeholder="Prescription Name" name="Prescription Name"
                [(ngModel)]="prescription.prescriptionName">
            </div>
            <div class="col">
              <label class="switch" style="margin-top: 5px;margin-left: 20px;">
                <input type="checkbox" name="isPrivateButton" (click)="changeIsPrivate($event)">
                <span>
                  <em></em>
                  <strong></strong>
                </span>
              </label>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <h4 class="mb-2 modal-title">Patient Details</h4>
            </div>
          </div>
          <div class="form-row">
            <div class="col-9">
              <input type="text" class="form-control" placeholder="Patient Name" name="Patient Name"
                [(ngModel)]="prescription.patientName">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Age" name="Patient Age"
                [(ngModel)]="prescription.age" (keypress)="numericOnly($event)">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <h4 class="mb-2 modal-title">Delivery Address</h4>
            </div>
          </div>
          <div class="form-row">
            <div class="col-4">
              <input type="text" class="form-control" placeholder="Address" name="streetName"
                [(ngModel)]="prescription.address.street">
            </div>
            <div class="col">
              <select class="form-control" name="stateName" [(ngModel)]="prescription.address.state">
                <option *ngFor="let state of stateList">{{state}}</option>
              </select>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Pincode" name="pincode"
                [(ngModel)]="prescription.address.pincode">
            </div>
          </div>
          <div class="card-header p-2">
            <div class="row align-items-center">
              <!-- <div class="col"> -->
              <h4 class="pl-2 pb-0 mb-1 mt-2 modal-title">Prescription Description</h4>
              <!-- </div> -->
              <!-- <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary">See all</a>
              </div> -->
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table table-bordered align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Medicine</th>
                  <th scope="col">Quantity</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of prescription.medicineList;let i=index">
                  <td class="text-center">
                    {{i+1}}
                  </td>
                  <td>
                    <input class="form-control" type="text" name="Medicine Name"
                      [(ngModel)]="prescription.medicineList[i].name">
                  </td>
                  <td>
                    <div class="input-group">
                      <input type="text" class="form-control" name="Medicine Quantity"
                        [(ngModel)]="prescription.medicineList[i].quantity">
                      <div class="input-group-append" style="height: 30px;vertical-align:middle">
                        <span class="input-group-text"
                          style="background-color:#5e72e4;color:#fff;font-size: 13px;">mg</span>
                      </div>
                    </div>
                  </td>
                  <td *ngIf="prescription.medicineList.length-1==i">
                    <i class="fas fa-plus-circle medicine-btn text-success" (click)="addNewMedicine()"></i>
                  </td>
                  <td *ngIf="prescription.medicineList.length-1!=i">
                    <i class="fas fa-times-circle medicine-btn text-danger" (click)="removeMedicine(i)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row mt-3">
            <div class="col">
              <h4 class="mb-2 modal-title">Prescription Document</h4>
            </div>
          </div>
          <div class="form-row ml-1">
            <div class="col-7">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" (change)="onFileChange($event)">
                <label class="custom-file-label" for="customFile">{{prescription.report.fileName.length==0?"Choose file":prescription.report.fileName.length > 16 ?
                  (prescription.report.fileName | slice:0:16)+'...' :(prescription.report.fileName)
                }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="newPrescription()">Create
          Prescription</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editPrescriptionModal" tabindex="-1" role="dialog" aria-labelledby="editPrescriptionModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="editPrescriptionModal">Edit Prescription</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card shadow new-card">
          <div class="row">
            <div class="col">
              <h4 class="mb-2 modal-title">Prescription Details</h4>
            </div>
          </div>
          <div class="form-row">
            <div class="col-6">
              <input type="text" class="form-control" placeholder="Prescription Name" name="Prescription Name"
                [(ngModel)]="prescription.prescriptionName">
            </div>
            <div class="col">
              <label class="switch" style="margin-top: 5px;margin-left: 20px;">
                <input type="checkbox" name="isPrivateButton" [checked]="prescription.isPrivate"
                  (click)="changeIsPrivate($event)">
                <span>
                  <em></em>
                  <strong></strong>
                </span>
              </label>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <h4 class="mb-2 modal-title">Patient Details</h4>
            </div>
          </div>
          <div class="form-row">
            <div class="col-9">
              <input type="text" class="form-control" placeholder="Patient Name" name="Patient Name"
                [(ngModel)]="prescription.patientName">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Age" name="Patient Age"
                [(ngModel)]="prescription.age" (keypress)="numericOnly($event)">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <h4 class="mb-2 modal-title">Delivery Address</h4>
            </div>
          </div>
          <div class="form-row">
            <div class="col-4">
              <input type="text" class="form-control" placeholder="Address" name="streetName"
                [(ngModel)]="prescription.address.street">
            </div>
            <div class="col">
              <select class="form-control" name="stateName" [(ngModel)]="prescription.address.state">
                <option *ngFor="let state of stateList">{{state}}</option>
              </select>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Pincode" name="pincode"
                [(ngModel)]="prescription.address.pincode">
            </div>
          </div>
          <div class="card-header p-2">
            <div class="row align-items-center">
              <!-- <div class="col"> -->
              <h4 class="pl-2 pb-0 mb-1 mt-2 modal-title">Prescription Description</h4>
              <!-- </div> -->
              <!-- <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary">See all</a>
              </div> -->
            </div>
          </div>
          <div class="table-responsive">
            <!-- Medicinetable -->
            <table class="table table-bordered align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Medicine</th>
                  <th scope="col">Quantity</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of prescription.medicineList;let i=index">
                  <td class="text-center">
                    {{i+1}}
                  </td>
                  <td>
                    <input class="form-control" type="text" name="Medicine Name"
                      [(ngModel)]="prescription.medicineList[i].name">
                  </td>
                  <td>
                    <div class="input-group">
                      <input type="text" class="form-control" name="Medicine Quantity"
                        [(ngModel)]="prescription.medicineList[i].quantity">
                      <div class="input-group-append" style="height: 30px;vertical-align:middle">
                        <span class="input-group-text"
                          style="background-color:#5e72e4;color:#fff;font-size: 13px;">mg</span>
                      </div>
                    </div>
                  </td>
                  <td *ngIf="prescription.medicineList.length-1==i">
                    <i class="fas fa-plus-circle medicine-btn text-success" (click)="addNewMedicine()"></i>
                  </td>
                  <td *ngIf="prescription.medicineList.length-1!=i">
                    <i class="fas fa-times-circle medicine-btn text-danger" (click)="removeMedicine(i)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editPrescription()">Update
          Prescription</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bd-example-modal-lg" id="pdfViewerModal" tabindex="-1" role="dialog"
  aria-labelledby="pdfViewerModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h2 class="modal-title" id="pdfViewerModal" *ngIf="pdfUrl.fileName">{{pdfUrl.fileName}}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="font-size:25px">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ngx-extended-pdf-viewer [src]="pdfUrl.url" *ngIf="pdfUrl.url" useBrowserLocale="true" height="80vh">
        </ngx-extended-pdf-viewer>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="requestAccessModal" tabindex="-1" role="dialog" aria-labelledby="requestAccessModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="requestAccessModal">Request Access</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="font-size:25px">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>The Prescription is Private. Should you request access for this prescription</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary request-btn" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary request-btn" data-dismiss="modal"
          (click)="requestAccess()">Request</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deletePrescriptionModal" tabindex="-1" role="dialog"
  aria-labelledby="deletePrescriptionModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="deletePrescriptionModal">Delete Prescription</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="font-size:25px">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>On Deleting this prescription, you cannot revert this action, so that it will disappear completely from the
          system.</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary request-btn" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger request-btn" data-dismiss="modal"
          (click)="deletePrescription()">Delete</button>
      </div>
    </div>
  </div>
</div>